.Inputbox{
  position: relative;
  top: 2rem;
}


mat-form-field,
textarea {
  width: 100%;
}

/* cdk-virtual-scroll-viewport,
textarea {
  background-color: aliceblue;

} */

.notInvisible {
  color:black;
}

.cdk-scroll {
  background-color: transparent;
}

button {
  background-color: rgb(120,120,210);
  color:aliceblue;
}


.example-viewport {
  height: 600px;
  width: 100%;
  border: 4px solid rgb(150, 150, 240);
  background-color: rgb(200,200,290);
}

.example-item {
  height: 50px;
}
