<div *ngFor="let message of messageList">
  <li>
      {{message}}
  </li>
</div>

<mat-card>
  <form (submit)="sendMessage(roomForm)" #roomForm="ngForm">
    <mat-form-field>
      <input matInput type="text" name="new_message" ngModel required minLength="3" placeholder="Enter message" #new_message ="ngModel">
      <mat-error *ngIf="new_message.invalid">Please enter a message.</mat-error>
    </mat-form-field>
    <button
    mat-raised-button
    type="submit"
    [disabled]="new_message.invalid">Send</button>
  </form>
</mat-card>
