mat-form-field,
textarea {
  width: 100%;
}

button {
  background-color: rgb(120,120,210);
  color:aliceblue;
}


.images {
  display: block;
  margin-top: -4rem;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.scrollButton {
  display: block;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  color: antiquewhite;
  transform: scale(2);
}

.card-align
{
  width:90%;
  margin-inline: 3%;
}
