.aboutWrapper {
  height: 100%;
  width: 100%;
  border: 5px solid rgb(150, 150, 240);
  border-radius: 0px;
  background-color: rgb(180,180,270);
}

.headers {
  margin-left: 10px;
}

.tab {
  display: inline-block;
  margin-left: 40px;
}







