.userViewport {
  height:95%;
  width: 100%;
}

.userTab
{
  text-align: center;
  height:5%;
  font-size: 150%;
}

.userList {
  float:inline-start;
  height: 70vh;
  width: 15%;
  margin-right: 1%;
  border: 5px solid rgb(150, 150, 240);
  border-radius: 0px;
  background-color: rgb(180,180,270);
}
